h1 {
	color: black;
	font-size: 1.5em;
	font-weight: bold;
	padding: 0px;
	margin: 0 0 45px 0;
}

h2 {
	color: black;
	font-size: 1em;
	font-weight: bold;
	border-bottom: 1px solid #535993;
	clear: left;
	margin: 10px 0 8px 0;
}

label {
	font-weight: bold;
	font-size: 0.9em;
	width: 280px;
	margin: 0.2em 1em 0.2em 1em;
	text-align: right;
	min-height: 2.3em;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	color: #444;
	float: left;
}

label input {
	margin-left: 1em;
}

#loginForm {
	margin: 0 auto;
	width: 400px;
	position: relative;
	top: 150px;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 10px 25px;
	background: #F4F5F9;
	overflow: auto;
	border-top: 2px solid #535993;
	border-left: 1px solid #ACAFD0;
	border-right: 1px solid #ACAFD0;
	border-bottom: 1px solid #ACAFD0;
}

input {
	margin: 4px;
	box-sizing: border-box;
}

.inputError {
	border: 1px solid red !important;
}

input[type="text"],input[type="password"] 
	{
	outline: medium none;
	padding: 3px;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: white;
	font-size: 1.1em;
	border: 1px solid #7D82B0;
	width: 158px;
}

input[type="submit"] {
	background: linear-gradient(#F4F5F9, #D5D7E8);
	color: #333;
	font-weight: bold;
	font-size: .8em;
	border: 1px solid #7D82B0;
	border-right: 1px solid #535993;
	border-bottom: 1px solid #535993;
	border-radius: 3px;
	cursor: pointer;
	display: inline;
	box-sizing: border-box;
	padding: 2px;
	margin: 25px;
	float: right;
	clear: left;
}

.error {
	color: red !important;
	float: left;
	margin-left: 172px;
	font-weight: normal;
	font-size: 0.9em;
	white-space: nowrap;
}

.errorMessages {
	color: red !important;
	font-weight: normal;
	font-size: 0.9em;
	white-space: nowrap;
	background: #ffcccc;
	border: 1px solid red;
}

.errorMessages li {
	display: block;
	width: 100%;
	text-decoration: none;
	padding: 5px;
}

.errorMessages

input[type="submit"]:hover {
	background: linear-gradient(#F4F5F9, #ACAFD0);
}
