.layout-aside {
	float: left;
	width: 20%;
	.layout-aside-content {
		padding: 16px 0 16px 16px;
	}
}

@media all and (max-width: 1200px) {
	.layout-aside {
		display:none;
	}
}

.form-card {
	box-shadow: none;
	border-radius: 0;
	padding: 1rem 1rem 0 1rem;
	border-right: 1px solid #f0f0f0;
	
	.form-card-body {
	  padding: 1rem;
	}
	
	.form-card-title {
	  margin-bottom: 2rem;
	}
		
	.form-card-content {
	  padding: 1rem;
	}
}

.card-w-title {
	position: relative;
	h1,h2,h3,h4,h5 {
		margin-bottom: 2rem;		
	}
	.card-header-buttons {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
}

.layout-wrapper{
	.layout-topbar{
		height: $topbarHeight;
		.topbar-menu > li > ul {
			top: auto;
		}
		.layout-right-panel-button {
			width: 2rem;
			height: 2rem;
			line-height: 2rem;			
		}
		.user-profile {
			.user-image {
				width: 2.5rem;
				height: 2.5rem;
				font-size: 1.25rem;				
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.layout-wrapper.layout-horizontal{
		.layout-menu-container {
			width: auto;
			float: left;
			padding: 0;
			min-height: 2rem;
		}
	}
}

@media screen and (max-width: 991px) {
	.layout-wrapper{
		.layout-main {
			height: $topbarHeight;
			padding-top: $topbarHeight + 1rem;
		}
	}
}

.bookmark {
	display: flex;
	align-items: center;
	.bookmark-url{
		margin-left: 1em;
	}
}

.searchBar-buttons {
	display: flex;
	padding-bottom: 2rem;
	.input-search-group {
		flex: 1;
	}
	.buttons {
		flex: 1;
		display: flex;
		padding: 0rem;
		justify-content: flex-end;
		margin-left: auto;
		.ui-button {
			margin-left: 1rem;
		}
	}
}

.title-card {
	background: #ffffff;
	box-sizing: border-box;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	
	.title-card-content {
		height: 10rem;
		padding: 1.5rem;
		background: linear-gradient(30deg, $primaryColor 0%, $primaryLightColor 150%);
		background-color:$primaryColor;
		color: $primaryTextColor;
		display: flex;
		justify-content: space-between;
		
		.title-card-content-image {
			width: 5rem;
			height: 5rem;
			order: 2;
			margin-left: auto;
			margin-right: 1.5rem;
			img {
				margin: 0;
				width: 5rem;
				height: 5rem;
			}
		}
		
		.title-card-content-info {
			display: flex;
			flex-direction: column;
			.title {
				font-size: 1.5rem;
				font-weight: 700;
				white-space: nowrap;
			}
		
			.subtitle {
				font-size: 1.2rem;
				font-weight: 500;
				white-space: nowrap;
			}
			
			.text {
				font-size: 0.9rem;
				margin-top: 2.5rem;
			}
		}
		
		.menu-button {
			order: 3;
			button.ui-button {
				background-color: transparent;
				border: 0px;
				&.ui-state-focus {
					box-shadow: none;
				}
				.ui-icon {
					font-size: 1.5rem;
				}
			}
		}
	}
}

.card.client-card {
	padding: 0;
	.client-card-header{
		height: 9rem;
		overflow: hidden;
		background: linear-gradient(30deg, $primaryColor 0%, $primaryLightColor 150%);
		background-color: $primaryColor;
		color: $primaryTextColor;
	}
	.client-card-content {
		.label-container {
			font-size: 0.9em;
			padding-bottom: 0.3em;
			.label {
				color: $darkMenuBgColor;
			}	
		}
		.text {
			color: $menuitemTextColor;
		}
		.client-card-name {
			font-size: 2em;
			color: #ffffff;
			position: relative;
			top: -3.5rem;
			margin-left: 1em;
			font-weight: 700;
			white-space: nowrap;
		}
		.client-detail {
			padding: 0 2.5em 2em 2.5em;
		}
	}
}

.phone {
	margin-right: 1rem;
	i {
		margin-right: 0.3rem;
	}
}

.email {
	margin-right: 1rem;
	i {
		margin-right: 0.3rem;
	}
}

.region {
	margin-right: 1rem;
	i {
		margin-right: 0.3rem;
	}
}

.data {
	display: flex;
	margin-bottom: 1rem;
	justify-content: space-between;
	.label-container {
		font-weight: 400;
		margin-right: 1rem;
	}
	.text-container {
		font-weight: 500;	
	}
}

.contacts {
	.ui-dataview-row {
		border-top: 1px solid #ddd;
	}
	.ui-dataview-column {
		border-bottom: 1px solid #ddd;
	}
}
.contact {
	position: relative;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	&:hover {
		background-color: #f5f5f5;
		transition: 0.3s ease;
	}
	.contact-box {
		display:flex;
		flex-direction: column;
		line-height: 1.2em;
		
		.contact-name {
			font-size: 1.1rem;
			font-weight: 800;
			padding-bottom: 0.2rem;
		}
		.contact-position {
			font-weight: 400;
			padding-bottom: 0.1rem;
		}
		.contact-data {
			display: flex;
			flex-direction: column;
			i {
				display: inline-block;
				margin-right: 0.4rem;
			}
			.contact-phone {
				font-size: 0.8rem;
				font-weight: 400;
				display: flex;
				align-items: center;
			}
			.contact-email {
				font-size: 0.8rem;
				font-weight: 400;
				display: flex;
				align-items: center;
			}
		}
	}
	
	.buttons{
		padding: 0;
		button {
			background-color: white;
		}
	}
}

.jobOffers {
	display: flex;
	padding: 1rem;
	flex-grow: 1;
	flex-basis: 0;
}

.card.job-card {
	padding: 0;
	.card-header{
		height: 80px;
		overflow: hidden;
		background: linear-gradient(30deg, $primaryColor 0%, $primaryLightColor 150%);
		background-color: $primaryColor;
		color: $primaryTextColor;
	}
	.job-card-content {
		.job-detail{
		    padding: 0 2.5em 2em 2.5em;
		}
		.label-container {
			font-size: 0.9em;
			padding-bottom: 0.3em;
			.label {
				color: $darkMenuBgColor;
			}	
		}
		.text {
			color: $menuitemTextColor;
		}
		.job-card-name {
			font-size: 2em;
			color: #ffffff;
			position: relative;
			top: -60px;
			margin-left: 1.5rem;
			font-weight: 700;
			white-space: nowrap;
		}
		.job-card-client {
			font-size: 1em;
			color: #ffffff;
			position: relative;
			top: -60px;
			margin-left: 1.5rem;
			font-weight: 400;
			white-space: nowrap;
		}
	}
}

.input-avatar {
	position: relative;
	height: 10rem;
	width: 10rem;
	
	img {
		cursor: pointer;
		width: 10rem;
		height: 10rem;
		object-fit: cover;
	}
	
	.camera-button {
		position: absolute;
		right: 0;
		bottom: 0;
	}
	
	.delete-button {
    	position: absolute;
    	right: 31px;
    	bottom: 0;
	}
	
	.ui-fileupload {
		display: none;
	}
}

.person {
	.ui-avatar {
		float:left;
	}
	.person-box {
		float: left;
		margin: 0.35rem 0 0 1rem;
		.person-description-text {
			font-size: 0.9rem;
		}
	}
}

.user-card {
	padding: 0;

	.user-card-header {
		height: 9rem;
		overflow: hidden;
		background: linear-gradient(30deg, $primaryColor 0%, $primaryLightColor 150%);
		background-color: $primaryColor;
		color: $primaryTextColor;
	}
	.user-card-content {
		.label-container {
			font-size: 0.9em;
			padding-bottom: 0.3em;
			.label {
				color: $darkMenuBgColor;
			}	
		}
		.text {
			color: $menuitemTextColor;
		}
		img {
			width: 60px;
			height: 60px;
			margin: 0;
		}
		.user-image {
			width: 60px;
			height: 60px;
			margin: -30px 0 0 24px;		
			.ui-avatar-text {
				font-size: 2rem;
			}
		}
		.user-detail {
			padding: 0 2.5em 2em 2.5em;
		}
	}
}

.contacts {
	.ui-dataview-header {
		display:none;		
	}
	.ui-dataview-row {
		a {
			color: $textColor;
		}
	}
}

.users {
	.ui-dataview-header {
		display:none;		
	}
	.ui-dataview-row {
		a {
			color: $textColor;
		}
	}
}

.form-buttons {
	display: flex;
	justify-content: right;
	border-top: 1px solid #f0f0f0;
	padding-top: 1rem;
	.ui-button {
		margin-left: 1rem;
	}
}

.ui-tag {
	&.user-role{
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.8rem;
		letter-spacing: 0.3px;
		&.role-ADMIN{
			background: #FEEDAF;
			color: #8A5340;
		}
		&.role-USER {
			background: #C8E6C9;
			color: #256029;
		}
	}
}