body .ui-datatable table {
	table-layout: auto;

	tbody {
		td {
			&.align-center {
				a {
					display: flex;
					align-items: center;
				}
			}

			&.button {
				text-align: right;
			}

			&.nopad-left {
				padding-left: 0;
			}

			&.nopad-right {
				padding-right: 0;
			}
		}
	}
}

body .ui-dataview .ui-paginator.ui-paginator-bottom {
	border-top: 1px solid #f0f0f0;
	border-bottom: 0px;
}

body .ui-autocomplete .ui-autocomplete-multiple-container .ui-autocomplete-token {
	margin: 0 0.5rem 0.5rem 0;
}

body .ui-inputnumber .ui-inputtext {
	text-align: right;
}

body .ui-datatable.ui-datatable-borderless {
	.ui-paginator {
		border: 0 none;
	}

	.ui-datatable-header {
		border-top: 0 none;
		border-left: 0 none;
		border-right: 0 none;
	}

	.ui-datatable-footer {
		border-bottom: 0 none;
		border-left: 0 none;
		border-right: 0 none;
	}

	thead>tr {
		border: 0 none;
	}

	.ui-datatable-data>tr {
		border: 0 none;
	}
}

body .ui-dataview {
	.ui-dataview-content {
		.ui-dataview-column {
			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	.ui-paginator-bottom {
		margin-top: 1rem;
	}
}

body .ui-datatable.ui-datatable-headerless {
	thead {
		display: none;
	}
}

body .ui-avatar img {
	object-fit: cover;
}