@charset "UTF-8";

body .ui-autocomplete-panel .ui-autocomplete-table th, body .ui-autocomplete-panel .ui-autocomplete-table td
	{
	padding: 0.25em;
}

body .ui-icon {
	font-family: FontAwesome;
	font-size: 1em;
	text-indent: 0px;
}

.ui-icon-carat-2-n-s:before {
	content: "\f0dc";
}

.ui-icon-triangle-1-n:before {
	content: "\f0d8";
}

.ui-icon-triangle-1-e:before {
	content: "\f0da";
}

.ui-icon-triangle-1-s:before {
	content: "\f0d7";
}

.ui-icon-arrow-1-n:before {
	content: "\f106";
}

.ui-icon-arrowstop-1-n:before {
	content: "\f102";
}

.ui-icon-arrow-1-s:before {
	content: "\f107";
}

.ui-icon-arrowstop-1-s:before {
	content: "\f103";
}

.ui-icon-arrow-1-w:before {
	content: "\f104";
}

.ui-icon-arrowstop-1-w:before {
	content: "\f100";
}

.ui-icon-arrow-1-e:before {
	content: "\f105";
}

.ui-icon-arrowstop-1-e:before {
	content: "\f101";
}

.ui-icon-circle-triangle-w:before {
	content: "\f0d9";
}

.ui-icon-plusthick:before {
	content: "\f067";
}

.ui-icon-closethick:before {
	content: "\f00d";
}

.ui-icon-circle-arrow-w {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.ui-icon-check:before {
	content: "\f00c";
}

.ui-icon-close:before {
	content: "\f00d";
}

body .ui-paginator>a span {
	display: none;
}

body .ui-paginator .ui-paginator-first:before {
	content: "\f100";
}

body .ui-paginator .ui-paginator-prev:before {
	content: "\f104";
}

body .ui-paginator .ui-paginator-next:before {
	content: "\f105";
}

body .ui-paginator .ui-paginator-last:before {
	content: "\f101";
}

body .ui-paginator {
	font-family: FontAwesome;
	font-size: 1em;
	margin-top: 0.8em;
}

body .ui-state-active {
	background-color: #1976d2;
	color: white;
}

body .ui-paginator .ui-paginator-page.ui-state-active {
	border-radius: 50%;
	width: 1.75em;
	line-height: 1.5em;
}

body .ui-state-disabled {
	color: gray;
}

body .ui-df-content {
	max-width: 100%;
	overflow: auto;
	max-height: 100%;
}

body .ui-dialog {
	border-radius: 3px;
	max-width: 100%;
	overflow: auto;
	max-height: 100%;
}

body .ui-dialog .ui-dialog-titlebar {
	background: #2d353c;
	padding: 0px;
	margin: 0px;
}

body .ui-dialog-titlebar .ui-dialog-title {
	padding: 11px 0px 8px 15px;
	margin: 0;
	color: white;
	font-size: 16px;
}

body .ui-dialog-content {
	padding: 1em;
	height: 100%;
}

body .ui-dialog .ui-icon {
	color: white;
}

body .ui-dialog .ui-dialog-footer {
	padding: 15px;
}

body .ui-dialog .ui-dialog-titlebar-close.ui-state-hover {
	background: rgba(255, 0, 0, 0.8);
}

body .ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-titlebar-minimize,
	.ui-dialog .ui-dialog-titlebar-maximize, body .ui-dialog .ui-dialog-titlebar-close.ui-state-hover,
	.ui-dialog .ui-dialog-titlebar-minimize.ui-state-hover, .ui-dialog .ui-dialog-titlebar-maximize.ui-state-hover
	{
	float: right;
	margin: 0;
	top: 0;
	padding: 10px 15px;
	cursor: pointer;
}

body .ui-dialog-mask {
	background: rgba(0, 0, 0, 0.3);
}

body  .ui-dialog-content .ql-container {
	height: 150px;
}

body  .ui-dialog-content .textArea {
	height: 200px;
}

body .ui-growl-item-container {
	opacity: 1;
}

body .ui-growl {
	width: 300px;
	top: 0;
}

body .ui-growl>.ui-growl-item-container {
	border: 0;
	border-radius: 0;
	position: relative;
	padding: 20px 15px;
	line-height: 20px;
	margin-top: 32px;
}

body .ui-growl .ui-growl-item .ui-growl-image {
	color: #ffffff;
	padding: 6px 0px;
	width: 32px;
	height: 32px;
	display: block;
	left: 15px;
	font-size: 20px;
}

body .ui-growl>.ui-growl-item-container.ui-growl-info {
	background-color: #5cb860;
	color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px
		rgba(76, 175, 80, 0.4);
}

body .ui-growl>.ui-growl-item-container.ui-growl-warn {
	background-color: #ffa21a;
	color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px
		rgba(255, 152, 0, 0.4);
}

body .ui-growl>.ui-growl-item-container.ui-growl-error {
	background-color: #f55a4e;
	color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px
		rgba(244, 67, 54, 0.4);
}

body .ui-growl>.ui-growl-item-container.ui-growl-fatal {
	background-color: #f55a4e;
	color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px
		rgba(244, 67, 54, 0.4);
}

body .ui-growl .ui-growl-item .ui-growl-image.ui-growl-image-info {
	font-family: FontAwesome;
	font-size: 38px;
	background: #5cb860;
}

body .ui-growl .ui-growl-item .ui-growl-image.ui-growl-image-info:before
	{
	content: "\f06a";
}

body .ui-growl .ui-growl-item .ui-growl-image.ui-growl-image-error {
	font-family: FontAwesome;
	font-size: 38px;
	background: #f55a4e;
}

body .ui-growl .ui-growl-item .ui-growl-image.ui-growl-image-error:before
	{
	content: "\f06a";
}

body .ui-growl .ui-growl-item .ui-growl-image.ui-growl-image-warn {
	font-family: FontAwesome;
	font-size: 38px;
	background: #ffa21a;
}

body .ui-growl .ui-growl-item .ui-growl-image.ui-growl-image-warn:before
	{
	content: "\f06a";
}

body .ui-growl .ui-growl-item .ui-growl-image.ui-growl-image-fatal {
	font-family: FontAwesome;
	font-size: 38px;
	background: #f55a4e;
}

body .ui-growl .ui-growl-item .ui-growl-image.ui-growl-image-fatal:before
	{
	content: "\f06a";
}

body .ui-growl .ui-growl-item .ui-growl-message {
	color: #ffffff;
}

body .ui-growl .ui-growl-item .ui-growl-message .ui-growl-title {
	font-weight: 300;
	padding: 0;
}

body .ui-growl .ui-growl-item {
	padding: 0;
}

body .ui-growl .ui-growl-item .ui-growl-icon-close {
	font-family: FontAwesome;
	font-size: 14px;
	color: white;
	top: 8px;
	right: 12px;
	text-indent: 0px;
}

body .ui-datatable table {
	table-layout: auto;
}

body .ui-datatable thead th {
	text-align: left;
}

body .ui-datatable thead th, body .ui-datatable tbody td, body .ui-datatable tfoot td,
	body .ui-datatable tfoot th {
	border-width: 0px;
	vertical-align: middle;
	padding: 0.4em 0.7em;
}

body .ui-datatable .ui-datatable-data tr:hover {
	transition: all 0.2s ease-in;
	background-color: #e1e1e1;
}

body .ui-datatable .ui-datatable-data tr:hover.ui-state-highlight {
	transition: all 0.2s ease-in;
	background-color: #4e9cea;
}

body .ui-datatable .ui-column-title {
	line-height: 1.5em;
	vertical-align: middle;
	font-size: 1.1em;
	font-weight: 600;
	display: inline-block;
}

body .ui-datatable tr {
	vertical-align: bottom;
	padding: 5px;
	border-bottom: 1px solid #c8c8c8;
	border-bottom-width: 1px;
}

body .ui-datatable .ui-datatable-data {
	line-height: 1.5em;
}

body .ui-datatable .ui-datatable-data td a {
	color: #4e9cea;
	font-weight: 600;
}

body .ui-datatable .ui-datatable-data td a:hover {
	text-decoration: underline;
}

body .form-group {
	width: 100%;
	overflow: auto;
}

body .form-group .ui-outputlabel {
	font-weight: bold;
	font-size: 12px;
	position: relative;
	padding-bottom: 5px;
	width: 100%;
	display: block;
	color: #424242;
}

body .ui-outputlabel .ui-outputlabel-rfi {
	display: none;
}

body .ui-inputgroup {
	display: flex;
}

body .form-group .ui-inputgroup {
	float: left;
	width: 100%;
}

body .ui-inputgroup .ui-button.ui-button-icon-only:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

body .ui-inputgroup .ui-button, body .ui-inputgroup .ui-button.ui-button-icon-only
	{
	margin: 0;
	border-radius: 0;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

body .ui-inputgroup .ui-button {
	margin-right: 0;
	border-radius: 0;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

body .ui-inputgroup .ui-inputgroup-addon:first-child, .ui-inputgroup .ui-inputgroup-addon-checkbox:first-child
	{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

body .ui-inputgroup .ui-inputgroup-addon:last-child, body .ui-inputgroup .ui-inputgroup-addon-checkbox:last-child
	{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

body .ui-inputgroup .ui-inputgroup-addon {
	padding: 4px 4px 3px 4px;
	font-size: 15px
}

body .ui-inputgroup .ui-inputgroup-addon, body .ui-inputgroup .ui-inputgroup-addon-checkbox
	{
	display: inline-block;
	text-align: center;
	width: 31px;
	border-width: 1px;
	border-style: solid;
}

body .ui-inputgroup .ui-inputgroup-addon, body .ui-inputgroup .ui-inputgroup-addon-checkbox
	{
	border-color: #d6d6d6;
	background-color: #f0f0f0;
	color: #222;
}

body .ui-inputgroup>.ui-inputtext:not (:first-child ), body .ui-inputgroup>.ui-password:not
	(:first-child ), body .ui-inputgroup>.ui-inputnumber:not (:first-child 
	) >.ui-inputtext, body .ui-inputgroup>.ui-inputmask:not (:first-child ),
	body .ui-inputgroup>.ui-calendar:not (:first-child ) >.ui-inputfield,
	body .ui-inputgroup>.ui-selectonemenu:not (:first-child ), body .ui-inputgroup>.ui-selectonebutton:not 
	(:first-child ) >.ui-button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 0 none;
}

body .ui-inputgroup .ui-inputtext, body .ui-inputgroup .ui-password {
	padding-left: .5em;
}

body .ql-toolbar {
	background-color: white;
}

body .ql-editor {
	background-color: white;
}

body .ql-editor {
	min-height: 100px;
}

body .ui-inputfield {
	outline: medium none;
	background-color: white;
	font-size: 13px;
	border: 1px solid #c2cad8;
	overflow: auto;
	color: #777777;
	float: left;
	display: block;
	width: 100%;
	height: 30px;
}

body .ui-inputfield.ui-state-error, body .ui-inputtext[aria-required="true"].ui-state-error,
	body .ui-inputtext[data-p-required="true"].ui-state-error, body .ui-selectonemenu.ui-state-error
	{
	border: 1px solid red;
}

body .ui-inputfield.ui-state-disabled, body .ui-state-disabled .ui-inputfield
	{
	background: #f2f2f2;
}

body .ui-inputfield.ui-state-focus {
	box-shadow: 0 0 5px #1976d2;
}

body .ui-inputfield.ui-state-disabled.ui-state-focus, body .ui-inputfield[aria-readonly="true"].ui-state-focus
	{
	box-shadow: none;
}

body .ui-inputfield[aria-readonly="true"] {
	background: #f2f2f2;
}

body .ui-calendar .ui-inputfield {
	width: 100%;
}

body .ui-inputtext[aria-required="true"], body .ui-inputtext[data-p-required="true"],
	body .ui-selectonemenu.required {
	border-left: 2px solid #a2aab8;
}

body .ui-datepicker {
	border: 1px solid #c2cad8;
	padding: 0;
}

body .ui-datepicker .ui-datepicker-header .ui-icon {
	display: none;
}

body .ui-datepicker .ui-datepicker-header {
	background: #1976d2;
	color: white;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-title {
	font-weight: bold;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev::before {
	font-family: FontAwesome;
	font-size: 20px;
	content: "\f0d9";
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
	cursor: pointer;
	color: white;
	width: 25px;
	height: 25px;
	padding: 3px 8px;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-next::before {
	font-family: FontAwesome;
	font-size: 20px;
	content: "\f0da";
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
	cursor: pointer;
	color: white;
	width: 25px;
	height: 25px;
	padding: 3px 8px;
}

body .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a {
	background: #c1daee;
}

body .ui-datepicker .ui-datepicker-calendar a {
	text-align: center;
	color: #666;
}

body .ui-datepicker .ui-datepicker-calendar a.ui-state-active {
	background: #1976d2;
	color: white;
}

body .ui-selectonemenu {
	outline: medium none;
	padding: 0px;
	background-color: white;
	font-size: 13px;
	float: left;
	display: block;
	width: 100%;
	border: 1px solid #c2cad8;
}

body .ui-selectonemenu label.ui-selectonemenu-label {
	padding: 7px;
}

body .ui-selectonemenu-panel .ui-selectonemenu-list {
	padding: 2px;
	border: 0 none;
}

body .ui-selectonemenu-item {
	padding: 2px;
}

body .ui-selectonemenu-item.ui-state-hover {
	border-radius: 3px;
	background-color: #b6d8f3;
}

body .ui-selectonemenu-item.ui-state-highlight {
	border-radius: 3px;
	background-color: #1976d2;
}

body .ui-selectonemenu .ui-selectonemenu-trigger {
	outline: medium none;
	margin: 0px;
	width: 20px;
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
	cursor: pointer;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	padding: 3px 3px;
}

body .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	position: relative;
	margin: auto;
	padding: 4px 0px;
}

body .ui-panel {
	display: inline-block;
	position: relative;
	width: 100%;
	padding: 0px;
	border: 1px solid #BDBDBD;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
	border-radius: 3px;
}

body .ui-panel .ui-panel-titlebar {
	background: #1976d2;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

body .ui-panel.with-tabs .ui-panel-titlebar {
	float: left;
	padding: 14px 0px 2px 6px;
	border-bottom: none;
}

body .ui-panel .ui-panel-titlebar .ui-panel-title {
	color: white;
	line-height: 1.6em;
	margin: 0;
	font-weight: 500;
}

body .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon {
	width: 20px;
	height: 20px;
	color: #ffffff;
	margin: 0;
	transition: background-color 0.3s;
}

body .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon:hover {
	background-color: white;
}

body .ui-panel .ui-panel-content {
	padding: 1em;
}

body .ui-panel .ui-panel-footer {
	padding: 0.5em 1em;
	border: 0 none;
	border-top: 1px solid #eaeaea;
	margin: 0;
}

body .ui-panel.ui-panel-collapsed-h .ui-panel-titlebar {
	padding-left: 40px;
}

body .ui-panel .ui-tabs {
	background: transparent;
	margin: 0px;
	padding: 0px;
}

body .ui-panel .ui-tabs .ui-tabs-nav {
	overflow: auto;
	margin: 0px;
	padding: 0px;
}

body .ui-panel .ui-tabs .ui-tabs-nav .ui-tabs-selected {
	border-bottom: 4px solid #36c6d3;
}

body .ui-panel .ui-tabs .ui-tabs-nav .ui-state-hover {
	border-bottom: 4px solid #9fe4ea;
}

body .ui-panel .ui-tabs .ui-tabs-nav li {
	float: right;
	color: #333;
	font-size: 13px;
	margin: 0px;
}

body .ui-panel .ui-tabs .ui-tabs-panel {
	margin: 0px;
	padding: 0px;
}

body .ui-widget-content {
	background: #fafafa;
}

body .ui-autocomplete {
	width: 100%;
}

body .ui-autocomplete-input[aria-readonly="true"] {
	background: #f2f2f2;
}

body .ui-autocomplete-panel .ui-autocomplete-table td {
	border: 0px solid transparent;
}

body .ui-fileupload-buttonbar .ui-fileupload-choose input {
	height: 40px;
}

body .ui-fileupload-content {
	display: none;
}

body .ui-button, body button.ui-button {
	background: #19d2d2;
	color: #fff;
	height: 30px;
	font-size: 14px;
	padding: 0px 10px;
	cursor: pointer;
	border: 0px;
	overflow: hidden;
	font-weight: bold;
	transition: 0.1s;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .25);
	margin: 0.1em;
	border-radius: 1px;
}

body .ui-button:hover, body button.ui-button:hover {
	box-shadow: none;
}

body .ui-button-text-icon-left .ui-button-text {
	padding: .4em 1em .3em 1em;
}

body .ui-button-text-icon-left .ui-icon {
	margin-top: -5px;
}

body .ui-button-text-only .ui-button-text {
	padding: 0.2em 0.4em;
}

body .ui-button .ui-button-text {
	line-height: 20px;
}

body .ui-button.ui-button-icon-only {
	width: 30px;
	margin: 0px 2px;
	border-radius: 2px;
}

body .ui-datatable-data .ui-button-icon-only .ui-icon.fa {
	font-size: 14px;
	height: 18px;
}

body .ui-button-icon-only .ui-icon.fa, body .ui-button-text-icon-left .ui-icon.fa,
	body .ui-button-text-icon-right .ui-icon.fa {
	width: 16px;
	color: white;
	margin-top: -8px;
}

body .ui-button.ui-state-disabled {
	background: #c9c9c9;
}

body .ui-button.ui-state-hover {
	background: #16bdbd;
}

body .ui-button.btn-gray {
	background: #afafaf;
}

body .ui-button.btn-gray.ui-state-hover {
	background: #9d9d9d;
}

body .ui-button.btn-primary {
	background: #1976d2;
}

body .ui-button.btn-primary.ui-state-hover {
	background: #145ca4;
}

body .ui-button.medium {
	height: 20px;
	font-size: 10px;
	padding: 0px 10px;
	margin: 5px 1px;
}

body .ui-button.medium.rounded {
	border-radius: 10px;
}

body .ui-chkbox .ui-chkbox-box {
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 2px;
	border: 1px solid #d6d6d6;
}

body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
	color: #19d2d2;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
	background: white;	
}

body .ui-chips {
	width: 100%;
}

body .ui-chips-container {
	height: auto;
	min-height: 30px;
}

body .ui-chips-container.ui-state-disabled {
	height: auto;
	min-height: 30px;
	border: 1px solid transparent;
	background: transparent;
}

body .ui-chips-container .ui-chips-token {
	padding: 3px 0px 3px 5px;
	border-radius: 3px;
	background: #1976d2;
	color: white;
}

body .ui-chips-container .ui-chips-token:hover .ui-chips-token-label {
	padding: 0 2.1em 0 .5em;
}

body .ui-chips-container.ui-state-disabled .ui-chips-token:hover .ui-chips-token-label
	{
	padding: 0 1em 0 .5em;
}

body .ui-chips-token .ui-chips-token-label {
	padding: 0 1em 0 .5em;
}

body .ui-chips-container.ui-state-disabled .ui-chips-token:hover .ui-icon
	{
	display: none;
}

body .ui-chips-container .ui-chips-token:hover .ui-icon {
	display: inline;
}

body .ui-chips-container .ui-chips-token .ui-icon {
	display: none;
}

body .ui-tabs-panels {
	border-top: 1px solid #CCCCCC;
}

body .ui-tabs-panels .ui-tabs-panel {
	overflow: auto;
}

.ripple-effect {
	position: absolute;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: white;
	animation: ripple-animation 2s;
}

@
keyframes ripple-animation {from { transform:scale(1);
	opacity: 0.4;
}

to {
	transform: scale(100);
	opacity: 0;
}

}
.ui-selected {
	background-color: #ffc107;
	color: black;
}

body .ui-picklist-list {
	border: 1px solid #BDBDBD;
}

body .ui-picklist-buttons .ui-button {
	margin-bottom: 2px;
}

body .ui-picklist-buttons .ui-icon-arrow-1-w:before, body .ui-picklist-buttons .ui-icon-arrow-1-e:before
	{
	padding-left: 5px;
}

body .ui-picklist-buttons .ui-icon-arrowstop-1-w:before {
	padding-left: 3px;
}

body .ui-picklist-buttons .ui-icon-arrowstop-1-e:before {
	padding-left: 4px;
}

body .ui-state-highlight {
	background-color: #1976d2;
	color: white;
}

body .ui-picklist .ui-picklist-list li {
	padding: 4px 5px;
}

body .ui-picklist-buttons .ui-icon-arrow-1-n:before {
	padding-left: 3px;
}

body .ui-picklist-buttons .ui-icon-arrowstop-1-n:before {
	padding-left: 3px;
}

body .ui-picklist-buttons .ui-icon-arrow-1-s:before {
	padding-left: 3px;
}

body .ui-picklist-buttons .ui-icon-arrowstop-1-s:before {
	padding-left: 3px;
}

body .ui-breadcrumb {
	margin: 0px;
	border: 0px;
	padding: 5px 10px;
	border: 1px solid #BDBDBD;
	background: white;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
}

body .ui-breadcrumb .ui-breadcrumb-chevron {
	vertical-align: baseline;
	padding-top: 4px;
}

body .ui-breadcrumb .ui-icon {
	display: inline;
}

body .ui-breadcrumb ul li .ui-menuitem-link, body .ui-breadcrumb ul li a.ui-icon-home.ui-menuitem-link
	{
	display: block;
	padding: 5px 10px 5px 5px;
	margin: 0px;
}

body .ui-breadcrumb ul li .ui-menuitem-text {
	display: inline;
	color: #4e9cea;
	font-weight: 600;
	font-size: 14px;
	padding-left: 5px;
}

body .ui-breadcrumb ul li .ui-state-disabled .ui-menuitem-text {
	color: #888;
}

body .ui-message-error {
	border: 0px;
	background: transparent;
	overflow: auto;
	margin: 0px;
	position: absolute;
	bottom: 0px;
	padding: 0px;
}

body .ui-message-error .ui-message-error-icon {
	display: none;
}

body .ui-message-error .ui-message-error-detail {
	color: red;
	float: left;
	font-weight: normal;
	font-size: 0.9em;
	margin-left: 2px;
}