@charset "UTF-8";

body .ui-icon {
	font-size: 1em;
	text-indent: 0px;
}

body .ui-button .ui-icon {
	font-family: FontAwesome;
}

.ui-icon-carat-2-n-s:before {
	font-family: FontAwesome;
	content: "\f0dc";
}

.ui-icon-triangle-1-n:before {
	font-family: FontAwesome;
	content: "\f0d8";
}

.ui-icon-triangle-1-e:before {
	font-family: FontAwesome;
	content: "\f105";
}

.ui-icon-triangle-1-s:before {
	font-family: FontAwesome;
	content: "\f0d7";
}

.ui-icon-arrow-1-n:before {
	font-family: FontAwesome;
	content: "\f106";
}

.ui-icon-arrowstop-1-n:before {
	font-family: FontAwesome;
	content: "\f102";
}

.ui-icon-arrow-1-s:before {
	font-family: FontAwesome;
	content: "\f107";
}

.ui-icon-arrowstop-1-s:before {
	font-family: FontAwesome;
	content: "\f103";
}

.ui-icon-arrow-1-w:before {
	font-family: FontAwesome;
	content: "\f104";
}

.ui-icon-arrowstop-1-w:before {
	font-family: FontAwesome;
	content: "\f100";
}

.ui-icon-arrow-1-e:before {
	font-family: FontAwesome;
	content: "\f105";
}

.ui-icon-arrowstop-1-e:before {
	font-family: FontAwesome;
	content: "\f101";
}

.ui-icon-circle-triangle-w:before {
	font-family: FontAwesome;
	content: "\f0d9";
}

.ui-icon-plusthick:before {
	font-family: FontAwesome;
	content: "\f067";
}

.ui-icon-closethick:before {
	font-family: FontAwesome;
	content: "\f00d";
}

.ui-icon-check:before {
	font-family: FontAwesome;
	content: "\f00c";
}

.ui-icon-close:before {
	font-family: FontAwesome;
	content: "\f00d";
}

body .ui-autocomplete {
	display: flex;
	flex: 1 1 100%;
}

body .ui-autocomplete-panel {
	display: flex;
	background: white;
	box-shadow: 0 2px 5px rgba(0,0,0,0.6);
}

body .ui-autocomplete-panel .ui-autocomplete-list {
	border: 1px solid #c2cad8;
    padding: .4em;
    border: 0 none;
    width: 100%;
}

body .ui-autocomplete-panel .ui-autocomplete-table {
	border: 1px solid #c2cad8;
}

body .ui-autocomplete-panel .ui-autocomplete-table tr {
	border: 0px;
	display: flex;
	flex-direction: row;
}

body .ui-autocomplete-panel .ui-autocomplete-table td {
	border: 0px;
	display: flex;
	align-items: center;
}

body .ui-autocomplete-panel .ui-state-highlight {
	background-color: #1976d2;
	color: white;
}

body .ui-autocomplete-panel .ui-state-highlight .person .person-data .name, body .ui-autocomplete-panel .ui-state-highlight .person .person-data .description{
	color: white;
}

body .ui-breadcrumb {
	background: white;
	border-bottom: 1px solid #bfceda;
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	flex: 1;
}

body .ui-breadcrumb ul {
	display: flex;
	align-items: center;
}

body .ui-breadcrumb ul li {
	display: flex;
	padding: 0.2em;
	font-weight: 700;
	color: #848b9d;
	font-size: 1em;
	line-height: 1.2em;
}

body .ui-breadcrumb ul li a {
	color: #5aa3de;
	font-weight: 800;
}

body .ui-breadcrumb ul li a.ui-icon {
	margin-top: 0px;
}

body .ui-breadcrumb ul li.ui-breadcrumb-chevron {
	color: #b6bdcf;
}

body .ui-button.ui-button-icon-only {
	font-size: 1em;
	min-width: auto;
}

body .ui-button.ui-spinner-button {
	min-width: auto;
}

body .ui-button {
	min-width: 80px;
}

body .ui-button, body .ui-button.ui-button-icon-only {
	height: 30px;
	font-size: 0.9em;
	display: inline-flex;
	background-color: #1976d2;
	border: 0px;
	margin: 0;
	padding: 8px;
	width: auto;
	justify-content: center;
	align-items: center;
}

body .ui-button.ui-state-disabled {
	cursor: default;
	background-color: #c0c0c0;
	border: 1px solid #c0c0c0;
}

body .ui-fileupload-buttonbar {
	margin: 0;
	padding: 0;
}

body .ui-button.ui-button-icon-only .ui-button-text {
	display: none;
}

body .ui-button .ui-icon, body .ui-button.ui-button-icon-only .ui-icon, body .ui-button-text-icon-left .ui-icon {
	margin: 0;
	left: auto;
	top: auto;
	position: relative;
	padding: 0em 0.2em;
	color: white;
	display: inline-flex;
}

body .ui-button .ui-button-text {
	font-weight: 600;
	font-size: 1em;
	padding: 0em 0.2em;
	color: white;
	line-height: 1.25em;
}

body .ui-button.ui-state-hover {
	background: #4999dc;
}

body .ui-button.btn-gray {
	background: #afafaf;
	border: 1px solid #929292;
}

body .ui-button.btn-input-clean {
	position: absolute;
	right: 0px;
	z-index: 1;
	border: 0px;
	right: 34px;
	background: transparent;
}

body .ui-button.btn-input-clean .ui-icon {
	color: #7a869b;
}

body .ui-button.btn-gray.ui-state-hover {
	background: #888888;
}

body .ui-breadcrumb ul li .ui-menuitem-link {
	display: flex;
	margin: 0px;
}

body .ui-breadcrumb .ui-menuitem-text {
	font-size: 14px;
}

body .ui-breadcrumb ul li span {
	display: flex;
}

body .ui-breadcrumb .ui-breadcrumb-chevron {
	margin: 0;
}

body .ui-calendar, body .ui-inputnumber {
	display: flex;
	flex: 1 1 100%;
}

body .ui-chkbox {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #c2cad8;;
	height: 16px;
	width: 16px;
}

body .ui-chkbox .ui-chkbox-box {
	width: 100%;
	height: 100%;
	border-radius: inherit;
	display: inline-flex;
	background: white;
}

body .ui-chkbox .ui-chkbox-box.ui-state-disabled {
	background: #e6e9f0;
}

body .ui-autocomplete-input-token {
	flex: 1 1 100%;
}


body .ui-autocomplete-input-token input {
	margin: 0 0 0 0.5em;
	padding: 0;
	height: 24px;
}

body .ui-chips {
	cursor: default;	
}

body .ui-chips-container {
	outline: medium none;
	background: white;
	border: 1px solid #c2cad8;
	color: #777777;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

body .ui-chips-container.ui-state-disabled {
	border: 1px solid transparent;
	background: transparent;
}

body .ui-chips-container .ui-chips-token, body .ui-autocomplete-multiple .ui-autocomplete-token {
	display: inline-flex;
	padding: 0px;
	margin: 0 2px 2px 0;
	border-radius: 0px;
	background: #59a2df;
	color: white;
	order: 1;
}

body .ui-chips-container.ui-state-disabled .ui-chips-token .ui-icon, body .ui-autocomplete-multiple.ui-state-disabled .ui-autocomplete-token .ui-icon {
	display: none;
}

body .ui-chips-container.ui-state-disabled .ui-chips-token, body .ui-autocomplete-multiple.ui-state-disabled .ui-autocomplete-token {
	cursor: default;
}

body .ui-chips-token .ui-chips-token-label, body .ui-autocomplete-multiple .ui-autocomplete-token-label {
	padding: 7px 14px;
	display: flex;
}

body .ui-chips-container.ui-state-disabled .ui-chips-token .ui-icon, body .ui-autocomplete-multiple.ui-state-disabled .ui-autocomplete-token .ui-icon
	{
	display: none;
}

body .ui-chips-container .ui-chips-token .ui-icon, body .ui-autocomplete-multiple .ui-autocomplete-token .ui-icon {
	display: inline-flex;
	padding: 7px;
	cursor: pointer;
	order: 2;
	margin: 0;
	position: relative;
	right: 0;
}

body .ui-chips-container .ui-chips-token:hover .ui-icon, body .ui-autocomplete-multiple .ui-autocomplete-token:hover .ui-icon {
	background: #86bce8;
}

body .ui-datalist-data {
	display: flex;
	flex-wrap: wrap;
}

body .ui-datalist-data .ui-datalist-item {
	display: flex;
	flex: 1 1 auto;
}

body .ui-chips-input-token {
	margin: 0;
	padding: 0;
	height: 34px;
	display: flex;
	flex: 1 1 100%;
	align-items: center;
}

body .ui-datatable, body .ui-datatable .ui-datatable-tablewrapper {
	display: flex;
	flex-direction: column;
	flex: 1 100%;
	order: 2;
}

body .ui-datatable table {
	table-layout: auto;
	font-size: 0.9em;
}

body .ui-datatable thead {
	height: 2.5em;
}

body .ui-datatable thead th {
	text-align: left;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 1px solid #bfceda;
	border-top: 0px;
	vertical-align: middle;
	padding: 0.4em 0.7em;
	color: black;
}

body .ui-datatable thead th:hover {
	background: #efefef;	
}

body .ui-datatable tbody td, body .ui-datatable tfoot td, body .ui-datatable tfoot th {
	border-width: 0px;
	vertical-align: middle;
	padding: 0.4em 0.7em;
}

body .ui-datatable .ui-datatable-data tr:hover {
	transition: all 0.2s ease-in;
	background-color: #f2f3f3;
}

body .ui-datatable .ui-datatable-data tr:hover.ui-state-highlight {
	transition: all 0.2s ease-in;
	background-color: #4e9cea;
}

body .ui-datatable .ui-column-title {
	font-size: 1.1em;
	vertical-align: middle;
	display: inline-flex;
	padding: 0 0.3em;
	font-weight: 600;
}

body .ui-datatable .ui-sortable-column-icon {
	color: black;
	width: 1em;
}

body .ui-datatable tr {
	vertical-align: bottom;
	padding: 5px;
	border-bottom: 1px solid #c8c8c8;
	border-bottom-width: 1px;
}

body .ui-datatable tbody td {
	border-bottom: 1px solid #dce7ef;
}

body .ui-datatable .ui-datatable-data {
	line-height: 1.5em;
}

body .ui-datatable .ui-datatable-data .ui-datatable-odd {
	background: #f7f9fc;
}

body .ui-datatable .ui-datatable-data td a {
	color: #4e9cea;
}

body .ui-datatable .ui-datatable-data td a:hover {
	text-decoration: underline;
}

body .ui-datepicker {
	border: 1px solid #c2cad8;
	padding: 0;
	background: white;
}

body .ui-datepicker .ui-datepicker-header .ui-icon {
	display: none;
}

body .ui-datepicker .ui-datepicker-header {
	background: #1976d2;
	color: white;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-title {
	font-weight: bold;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev::before {
	font-family: FontAwesome;
	font-size: 20px;
	content: "\f0d9";
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
	cursor: pointer;
	color: white;
	width: 25px;
	height: 25px;
	padding: 3px 8px;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-next::before {
	font-family: FontAwesome;
	font-size: 20px;
	content: "\f0da";
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
	cursor: pointer;
	color: white;
	width: 25px;
	height: 25px;
	padding: 3px 8px;
}

body .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a {
	background: #c1daee;
}

body .ui-datepicker .ui-datepicker-calendar a {
	text-align: center;
	color: #666;
}

body .ui-datepicker .ui-datepicker-calendar a.ui-state-active {
	background: #1976d2;
	color: white;
}

body .ui-dialog-mask {
	background: rgba(0, 0, 0, 0.3);
}

body .ui-dialog {
	
}

body .ui-dialog .ui-dialog-content {
	max-height: 100%;
	display: flex;
}

body .ui-dialog .ui-dialog-content.ui-df-content {
	padding: 0;
	margin: 0;
	display: flex;
	max-height: 100%;
}

body .ui-dialog {
	background: white;
	border-radius: 0px;
	border: 1px solid #ababab;
	max-width: 100%;
	overflow: auto;
	max-height: 100%;
}

body .ui-dialog .ui-dialog-titlebar {
	background: #3d4f69;
	border-bottom: 1px solid #bfceda;
	padding: 0;
	margin: 0;
	display: flex;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
	display: flex;
	flex: 1 100%;
	font-weight: bold;
	color: white;
	margin: 0;
	font-size: 1.1em;
	padding: 10px;
	align-items: center;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
	background: #ababab;
	color: white;
	padding: 8px 12px;
}

body .ui-autocomplete.ui-autocomplete-multiple .ui-inputfield {
	padding: 0;
	display: flex;
	flex: 1 1 100%;
	flex-wrap: wrap;
	align-items: flex-start;
	height: auto;
	width: 300px;
}

body .ui-inputfield {
	height: 100%;
	flex: 1 1 100%;
	color: #777777;
	min-height: 34px;
	display: flex;
	align-items: center;
	border: 1px solid #c2cad8;
	background: white;
}

body .ui-inputfield.hasDatepicker {
	cursor: pointer;
	text-align: right;
}

body .ui-inputtext.ui-state-disabled, body .ui-inputfield.hasDatepicker.ui-state-disabled, body .ui-autocomplete-input.ui-state-disabled {
	background: #efefef;
}

body .ui-paginator, body .ui-datatable .ui-paginator, body .ui-datagrid .ui-paginator {
	font-family: FontAwesome;
	font-size: 1em;
	padding: 0.4em;
	background: white;
	display: flex;
	justify-content: center;
}

body .ui-paginator.ui-paginator-bottom {
	order: 2;
}

body .ui-paginator>a {
	color: #7a869b;
}

body  .ui-paginator>a span {
	display: none;
}

body .ui-paginator .ui-paginator-first:before {
	content: "\f100";
}

body .ui-paginator .ui-paginator-prev:before {
	content: "\f104";
}

body .ui-paginator .ui-paginator-next:before {
	content: "\f105";
}

body .ui-paginator .ui-paginator-last:before {
	content: "\f101";
}

body .ui-paginator .ui-state-active {
	background-color: #ecf0f5;
	color: #ffffff;
}

body .ui-paginator .ui-state-active a {
	color: #ffffff;
}

body .ui-paginator .ui-paginator-page.ui-state-active {
	border-radius: 50%;
	background-color: #5fabf1;
}

body .ui-fileupload {
	display: flex;
}

body .ui-fileupload .ui-widget-content {
	display: none;
}

body .ui-growl {
	display: flex;
}

body .ui-growl .ui-growl-item-container {
	overflow: auto;
	background: white;
	border-radius: 5px;
	flex: 1 100%;
	display: flex;
	border: 1px solid #ced2dc;
	margin: 0px;
	opacity: .95;
}

body .ui-growl .ui-growl-image {
	display: none;
}

body .ui-growl-item {
	flex: 1 100%;
	display: flex;
	align-items: flex-start;
	padding: 1.2em;
}

body .ui-growl-item .ui-growl-title {
	padding: 0em 1em 0em 1em;
}

body .ui-growl-icon-close {
	position: absolute;
	top: 1em;
	right: 1em;
	cursor: pointer;
	right: 1em;
}

body .ui-growl .ui-growl-item-container.ui-growl-error {
	background-color: #e18080;
	color: white;
}

body .ui-selectonemenu {
	position: relative;
	width: auto;
	cursor: pointer;
	vertical-align: top;
	flex: 1 1 100%;
	color: #777777;
	min-height: 34px;
	display: flex;
	border: 1px solid #c2cad8;
	background: white;
}

body .ui-selectonemenu .ui-selectonemenu-label {
	display: flex;
	flex: 1 1 100%;
	white-space: nowrap;
	overflow: hidden;
	font-weight: normal;
	height: 100%;
	justify-content: flex-end;
	align-items: center;
}

body .ui-selectonemenu .ui-selectonemenu-trigger {
	display: flex;
	align-items: center;
	width: 2em;
	justify-content: center;
}

body .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	position: relative;
}

body .ui-selectonemenu-panel .ui-selectonemenu-list {
	padding: 2px;
	border: 0 none;
	background: white;
}

body .ui-selectonemenu-item {
	padding: 2px;
}

body .ui-selectonemenu-item.ui-state-hover {
	border-radius: 3px;
	background-color: #b6d8f3;
}

body .ui-selectonemenu-item.ui-state-highlight {
	border-radius: 3px;
	background-color: #1976d2;
	color: white;
}

body .ui-message-error {
	border: 0px;
	background: transparent;
	margin: 0px;
	bottom: 0px;
	padding: 0.2em 0;
}

body .ui-message-error .ui-message-error-icon {
	display: none;
}

body .ui-message-error .ui-message-error-detail {
	color: #dd6e7b;
	font-weight: normal;
	font-size: 0.9em;
	margin-left: 2px;
}

body .ui-inputfield.ui-state-error, body .ui-inputtext[aria-required="true"].ui-state-error, body .ui-inputtext[data-p-required="true"].ui-state-error,
	body .ui-selectonemenu.ui-state-error {
	border: 1px solid #dd6e7b;
}

body .ui-panel {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	width: 100%;
	background: #ffffff;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
	border: 0px;
}

body .ui-panel .ui-panel-titlebar {
	display: flex;
	padding: 10px 20px;
	background: #1976d2;
}

body .ui-panel .ui-panel-titlebar .ui-panel-title {
	font-size: 15px;
	color: white;
	margin: 0;
	font-weight: 700;
}

body .ui-panel .ui-panel-content {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

body .ui-panel .ui-panel-footer {
	display: flex;
	margin: 0;
	padding: 0;
}

body .ui-picklist {
	display: flex;
	align-items: center;
}

body .ui-picklist .ui-picklist-list-wrapper {
	border: 1px solid #bfceda;
	padding: 0.4em;
	border-radius: 5px;
}

body .ui-picklist .ui-picklist-buttons {
	height: auto;
	padding: 1em;
}

body .ui-link {
	display: flex;
	flex: 1 1 100%;
}

body .ui-selectonemenu-panel .ui-selectonemenu-list-item {
	border: 0 none;
	margin: 1px 0;
	padding: 3px 5px;
	text-align: right;
	white-space: nowrap;
}

body .ui-spinner {
	display: flex;
	flex: 1 1 100%;
}

body .ui-spinner .ui-spinner-button {
	height: 50%;
	width: 16px;
}