@charset "UTF-8";

body .ui-icon {
	font-family: FontAwesome;
	font-size: 1em;
	text-indent: 0px;
}

.ui-icon-carat-2-n-s:before {
	content: "\f0dc";
}

.ui-icon-triangle-1-n:before {
	content: "\f0d8";
}

.ui-icon-triangle-1-e:before {
	content: "\f105";
}

.ui-icon-triangle-1-s:before {
	content: "\f0d7";
}

.ui-icon-arrow-1-n:before {
	content: "\f106";
}

.ui-icon-arrowstop-1-n:before {
	content: "\f102";
}

.ui-icon-arrow-1-s:before {
	content: "\f107";
}

.ui-icon-arrowstop-1-s:before {
	content: "\f103";
}

.ui-icon-arrow-1-w:before {
	content: "\f104";
}

.ui-icon-arrowstop-1-w:before {
	content: "\f100";
}

.ui-icon-arrow-1-e:before {
	content: "\f105";
}

.ui-icon-arrowstop-1-e:before {
	content: "\f101";
}

.ui-icon-circle-triangle-w:before {
	content: "\f0d9";
}

.ui-icon-plusthick:before {
	content: "\f067";
}

.ui-icon-closethick:before {
	content: "\f00d";
}

.ui-icon-check:before {
	content: "\f00c";
}

.ui-icon-close:before {
	content: "\f00d";
}

body .ui-autocomplete {
	width: 100%;
}

body .ui-autocomplete-panel {
	display: flex;
	background: white;
}

body .ui-autocomplete-panel .ui-autocomplete-table {
	border: 1px solid #c2cad8;
}

body .ui-autocomplete-panel .ui-autocomplete-table tr {
	border: 0px;
	display: flex;
	flex-direction: row;
}

body .ui-autocomplete-panel .ui-autocomplete-table td {
	border: 0px;
	display: flex;
	align-items: center;
}

/*Button*/
body .ui-button {
	font-size: 0.9em;
	min-width: 5.5em;
}

body .ui-button.ui-button-icon-only {
	font-size: 1em;
	min-width: auto;
}

body .ui-button, body .ui-button.ui-button-icon-only {
	display: inline-flex;
	background-color: #69abe2;
	border: 1px solid #59a2df;
	margin: 0;
	padding: 0.6em;
	justify-content: center;
	align-items: center;
	position: relative;
}

body .ui-button.ui-button-icon-only .ui-button-text {
	display: none;
}

body .ui-button .ui-icon, body .ui-button.ui-button-icon-only .ui-icon, body .ui-button-text-icon-left .ui-icon {
	margin: 0;
	left: auto;
	top: auto;
	position: relative;
	padding: 0em 0.2em;
	color: white;
	display: inline-flex;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

body .ui-button .ui-button-text {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.8em;
	padding: 0em 0.2em;
	color: white;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	line-height: 1.25em;
}

body .ui-button.ui-state-hover {
	background: #4999dc;
}

body .ui-button.btn-gray {
	background: #afafaf;
	border: 1px solid #929292;
}

body .ui-button.btn-gray.ui-state-hover {
	background: #888888;
}

body .ui-breadcrumb ul li .ui-menuitem-link {
	display: flex;
	margin: 0px;
}

body .ui-breadcrumb ul li span {
	display: flex;
}

body .ui-breadcrumb .ui-breadcrumb-chevron {
	margin: 0;
}

body .ui-chips {
	font-size: 0.8em;
}

body .ui-chips-container, body .ui-chips-container.ui-state-disabled {
	border: 1px solid transparent;
	background: transparent;
	width: 100%;
}

body .ui-chips-container .ui-chips-token {
	display: inline-flex;
	padding: 5px;
	border-radius: 3px;
	background: #59a2df;
	color: white;
	text-shadow: 1px 1px #509ede;
}

body .ui-chips-token .ui-chips-token-label {
	padding: 0 0.5em 0 0.5em;
	display: flex;
}

body .ui-chips-container.ui-state-disabled .ui-chips-token:hover .ui-icon {
	display: none;
}

body .ui-chips-container .ui-chips-token:hover .ui-icon {
	display: inline;
}

body .ui-chips-container .ui-chips-token .ui-icon {
	cursor: pointer;
	margin-top: 0;
	position: relative;
	right: 0;
	top: 0;
	display: none;
}

body .ui-datatable table {
	table-layout: auto;
	font-size: 0.9em;
}

body .ui-datatable thead {
	background: linear-gradient(to bottom, rgba(243, 245, 248, 1) 0%, rgba(246, 246, 246, 1) 48%, rgba(237, 237, 237, 1)
		100%);
	height: 2.5em;
}

body .ui-datatable thead th {
	text-align: left;
	border-right: 1px solid #bfceda;
	border-left: 1px solid white;
	border-bottom: 1px solid #bfceda;
	border-top: 1px solid white;
	vertical-align: middle;
	padding: 0.4em 0.7em;
	color: #737c93;
}

body .ui-datatable tbody td, body .ui-datatable tfoot td, body .ui-datatable tfoot th {
	border-width: 0px;
	vertical-align: middle;
	padding: 0.4em 0.7em;
}

body .ui-datatable .ui-datatable-data tr:hover {
	transition: all 0.2s ease-in;
	background-color: #ffffd4;
}

body .ui-datatable .ui-datatable-data tr:hover.ui-state-highlight {
	transition: all 0.2s ease-in;
	background-color: #4e9cea;
}

body .ui-datatable .ui-column-title {
	vertical-align: middle;
	display: inline-flex;
	text-shadow: 1px 1px white;
	padding: 0 0.3em;
	font-weight: 600;
}

body .ui-datatable .ui-sortable-column-icon {
	color: #aabdcc;
	width: 1em;
}

body .ui-datatable tr {
	vertical-align: bottom;
	padding: 5px;
	border-bottom: 1px solid #c8c8c8;
	border-bottom-width: 1px;
}

body .ui-datatable tbody td {
	border-bottom: 1px solid #dce7ef;
}

body .ui-datatable .ui-datatable-data {
	line-height: 1.5em;
}

body .ui-datatable .ui-datatable-data .ui-datatable-odd {
	background: #f7f9fc;
}

body .ui-datatable .ui-datatable-data td a {
	color: #4e9cea;
}

body .ui-datatable .ui-datatable-data td a:hover {
	text-decoration: underline;
}

body .ui-datepicker {
	border: 1px solid #c2cad8;
	padding: 0;
	background: white;
}

body .ui-datepicker .ui-datepicker-header .ui-icon {
	display: none;
}

body .ui-datepicker .ui-datepicker-header {
	background: #1976d2;
	color: white;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-title {
	font-weight: bold;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev::before {
	font-family: FontAwesome;
	font-size: 20px;
	content: "\f0d9";
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
	cursor: pointer;
	color: white;
	width: 25px;
	height: 25px;
	padding: 3px 8px;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-next::before {
	font-family: FontAwesome;
	font-size: 20px;
	content: "\f0da";
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
	cursor: pointer;
	color: white;
	width: 25px;
	height: 25px;
	padding: 3px 8px;
}

body .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a {
	background: #c1daee;
}

body .ui-datepicker .ui-datepicker-calendar a {
	text-align: center;
	color: #666;
}

body .ui-datepicker .ui-datepicker-calendar a.ui-state-active {
	background: #1976d2;
	color: white;
}

body .ui-inputtext, body .ui-inputfield.hasDatepicker, body .ui-autocomplete-input, body .ui-password {
	outline: medium none;
	background: white;
	font-size: 1em;
	border: 1px solid #c2cad8;
	color: #777777;
	width: 100%;
	border-radius: 4px;
	padding: 0.5em;
}

body .ui-inputtext.ui-state-disabled, body .ui-inputfield.hasDatepicker.ui-state-disabled, body .ui-autocomplete-input.ui-state-disabled
	{
	background: #efefef;
}

body .ui-paginator,  body .ui-datatable .ui-paginator, body .ui-datagrid .ui-paginator{
	font-family: FontAwesome;
	font-size: 1em;
	padding: 0.4em;
	background: white;
}

body .ui-paginator>a {
	color: #7a869b;
}

body  .ui-paginator>a span {
	display: none;
}

body .ui-paginator .ui-paginator-first:before {
	content: "\f100";
}

body .ui-paginator .ui-paginator-prev:before {
	content: "\f104";
}

body .ui-paginator .ui-paginator-next:before {
	content: "\f105";
}

body .ui-paginator .ui-paginator-last:before {
	content: "\f101";
}

body .ui-paginator .ui-state-active {
	background-color: #ecf0f5;
	color: #ffffff;
}

body .ui-paginator .ui-state-active a {
	color: #ffffff;
}

body .ui-paginator .ui-paginator-page.ui-state-active {
	border-radius: 50%;
	background-color: #5fabf1;
}

body .ui-fileupload {
	display: flex;
}

body .ui-fileupload .ui-widget-content {
	display: none;
}

body .ui-growl {
	display: flex;
}

body .ui-growl .ui-growl-item-container {
	overflow: auto;
	background: white;
	border-radius: 5px;
	flex: 1 100%;
	display: flex;
	border: 1px solid #ced2dc;
	margin: 0px;
	opacity: .95;
}

body .ui-growl-item {
	flex: 1 100%;
	display: flex;
	align-items: flex-start;
	padding: 1.2em;
}

body .ui-growl-item .ui-growl-title {
	padding: 0em 1em 0em 1em;
}

body .ui-growl-icon-close {
	position: absolute;
	top: 1em;
	right: 1em;
	cursor: pointer;
	right: 1em;
}

body .ui-selectonemenu {
	display: flex;
	align-items: center;
	outline: medium none;
	background-color: white;
	font-size: 1em;
	border: 1px solid #c2cad8;
	color: #777777;
	width: 100%;
	border-radius: 4px;
	padding: 0.1em;
}

body .ui-selectonemenu .ui-selectonemenu-trigger {
	display: flex;
	align-items: center;
	width: 2em;
	justify-content: center;
}

body .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	position: relative;
}

body .ui-selectonemenu label.ui-selectonemenu-label {
	padding: 7px;
}

body .ui-selectonemenu-panel .ui-selectonemenu-list {
	padding: 2px;
	border: 0 none;
	background: white;
}

body .ui-selectonemenu-item {
	padding: 2px;
}

body .ui-selectonemenu-item.ui-state-hover {
	border-radius: 3px;
	background-color: #b6d8f3;
}

body .ui-selectonemenu-item.ui-state-highlight {
	border-radius: 3px;
	background-color: #1976d2;
}

body .ui-message-error {
	border: 0px;
	background: transparent;
	margin: 0px;
	bottom: 0px;
	padding: 0.2em 0;
}

body .ui-message-error .ui-message-error-icon {
	display: none;
}

body .ui-message-error .ui-message-error-detail {
	color: #dd6e7b;
	font-weight: normal;
	font-size: 0.9em;
	margin-left: 2px;
}

body .ui-inputfield.ui-state-error, body .ui-inputtext[aria-required="true"].ui-state-error, body .ui-inputtext[data-p-required="true"].ui-state-error,
	body .ui-selectonemenu.ui-state-error {
	border: 1px solid #dd6e7b;
}

body .ui-panel {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	width: 100%;
	background: #ffffff;
	border-top: 1px solid white;
	border-bottom: 1px solid #bfceda;
	border-left: 1px solid white;
	border-right: 1px solid #bfceda;
}

body .ui-panel .ui-panel-titlebar {
	background: #eef1f8;
	border-bottom: 1px solid #bfceda;
	font-size: 2em;
	line-height: 1.5em;
	padding: .3em 0.7em .3em;
}

body .ui-panel .ui-panel-titlebar .ui-panel-title {
	color: #5c617b;
	text-shadow: 1px 1px white;
	margin: 0;
}

body .ui-panel .ui-panel-content {
	border-bottom: 1px solid #bfceda;
	padding: 0;
}

body .ui-panel .ui-panel-footer {
	display: flex;
	background: #eef1f8;
	border-top: 1px solid white;
	padding: 1em;
	margin: 0;
	justify-content: flex-end;
}

body .ui-picklist {
	display: flex;
	align-items: center;
}

body .ui-picklist .ui-picklist-list-wrapper {
	border: 1px solid #bfceda;
	padding: 0.4em;
	border-radius: 5px;
}

body .ui-picklist .ui-picklist-buttons {
	height: auto;
	padding: 1em;
}