.card.user-card {
	
	padding: 0;

	.card-header{
		height: 8rem;
		overflow: hidden;
		background: linear-gradient(30deg, $primaryColor 0%, $primaryLightColor 150%);
		background-color: $primaryColor;
		color: $primaryTextColor;
	}

	.user-card-content {
		
		.label-container {
			font-size: 1rem;
			padding-bottom: 0.3rem;
		
			.label {
				color: $darkMenuBgColor;
			}	
		}
		
		.text {
			font-size: 1.2rem;
			color: $menuitemTextColor;
		}
		
		.user-image {
			margin: -2rem 0 0 1.5rem;
			object-fit: cover;
		}
		
		.user-card-name {
			font-size: 1.25rem;
			color: $primaryTextColor;
			position: relative;
			top: -4rem;
			margin-left: 7rem;
			font-weight: 700;
			white-space: nowrap;
		}
		
		.user-detail {
			padding: 0 2.5rem 2rem 2.5rem;
		}
	}
}

.input-avatar {
	position: relative;
	height: 200px;
	width: 200px;
	
	img {
		cursor: pointer;
		width: 200px;
		height: 200px;
		object-fit: cover;
	}
	
	.camera-button {
		position: absolute;
		right: 0;
		bottom: 0;
	}
	
	.delete-button {
    	position: absolute;
    	right: 31px;
    	bottom: 0;
	}
	
	.ui-fileupload {
		display: none;
	}
}

.layout-wrapper {
	.layout-topbar {
		 .topbar-menu {
			a {
				color: $textColor;
				&:hover{
					text-decoration: none;				
				}
			}
			
			.layout-profile-userinfo {
	            text-align: left;
	            display: inline-block;
	            margin: 0.5rem 0 0 0.6rem;
	            vertical-align: top;
	
	            .layout-profile-name {
	              font-size: 1.1rem;
	              display: block;
	            }
	
	            .layout-profile-role {
	              font-size: 0.9rem;
	              margin-top: 0.15rem;
	              display: block;
	            }
			}
		}
	}
}
