body .ui-datatable {
	.ui-datatable-data { 
		tr {
			td {
    			padding: 1rem 1rem;
			}
		}
	}
	table {
		table-layout: auto;
	
		tbody{
			tr{
				a{
					display:flex;
					align-items: center;
				}
			}
		}
	}
}
