$bodyBgColor:#f4f4f4;
$textColor:#252529;
$textSecondaryColor:#65686a;
$dividerColor: #ebedef;

$footerBgColor:#ffffff;
$footerBorderColor:#ebebef;

//light menu
$menuBgColor:#ffffff;
$menuBorderColor:#ebebef;
$menuitemTextColor:#666666;
$menuitemIconColor:#65656a;
$menuitemTextHoverColor:#252529;
$menuitemIconHoverColor:#252529;
$menuitemHoverBgColor:#eaeaea;
$menuitemSeparator:#ebebef;

//dark menu
$darkMenuBgColor:#252529;
$darkMenuBorderColor:#252529;
$darkMenuitemTextColor:rgba(#ebedef,7);
$darkMenuitemIconColor:rgba(#ebedef,6);
$darkMenuitemTextHoverColor:#ebebef;
$darkMenuitemIconHoverColor:#ebebef;
$darkMenuitemHoverBgColor:#2e2e33;
$darkMenuitemSeparator:#424247;

$slimMenuTooltipBgColor:#333333;
$slimMenuTooltipTextColor:#c8c8c8;

@import './_layout_common.scss';