@charset "UTF-8";

@font-face {
	font-family: "Roboto";
	src: url("#{resource['fonts:Roboto-Regular.ttf']}") format("truetype");
}

* {
	box-sizing: border-box;
}

body {
	height: 100%;
	font-size: 14px;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	color: #7a869b;
	background: #dadee9;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4 {
	font-weight: bold;
	color: #737c93;
	text-shadow: 1px 1px white;
	margin: 0;
}

h1 {
	font-size: 1.5em;
	padding: 0.4em 0;
}

h2 {
	font-size: 1.3em;
	padding: 0.5em 0em;
}

h3 {
	font-size: 1em;
	padding: 0.2em 0 1em 0;
	text-transform: uppercase;
}

h4 {
	font-size: 1em;
	padding: 0.3em 0;
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 1em;
}

body>footer {
	justify-content: center;
	width: 100%;
	display: flex;
}

body>footer .version {
	flex: 1;
	text-align: center;
	padding: 0.5em;
	border-left: 1px solid white;
	border-right: 1px solid #bfceda;
}

body footer .version span {
	font-size: 0.8em;
	color: #848b9d;
}

/************************************
 *  nav
 ************************************/
.navbar {
	display: flex;
	background: #3d4f69;
	color: white;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #28384f;
}

.navbar a {
	color: white;
	font-weight: 500;
	padding: 0.3em 1em;
}

.navbar ul {
	display: flex;
	line-height: 2em;
}

.navbar li {
	display: flex;
}

.navbar li:hover a {
	transition: all 0.2s ease-in;
	background-color: #28384f;
}

.navbar li a .menu_text {
	padding-left: 0.3em;
}

.navbar .navbar-menu .selected {
	background: #1976d2;
}

.navbar-search .navbar-search-icon {
	color: grey;
}

.navbar .navbar-search a {
	padding-left: 0.2em;
}

.navbar-search .input-container {
	display: inline-flex;
}

.navbar-utility li a, .navbar-utility .name {
	padding: 0.3em 0.75em;
}

@media ( max-width : 1250px) {
	body header .navbar-menu .menu_text {
		display: none;
	}
	body #main #aside {
		display: none;
	}
}

.invisible {
	display: none;
}

.image-icon {
	height: 32px;
	width: 32px;
	object-fit: cover;
	border-radius: 4px;
	image-orientation: from-image;
}

#aside {
	display: flex;
	width: 280px;
	border-top: 1px solid white;
	border-bottom: 1px solid #bfceda;
	border-left: 1px solid white;
	border-right: 1px solid #bfceda;
	background: #f8f9fb;
}

#content {
	display: flex;
	flex-direction: column;
	flex: 1 auto;
	overflow: hidden;
}

#breadcrumb {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 0;
}

/************************************
 *  main
 ************************************/
#main {
	display: flex;
	width: 100%;
}

body .breadcrumb {
	background: linear-gradient(to bottom, rgba(243, 245, 248, 1) 0%, rgba(246, 246, 246, 1) 48%, rgba(237, 237, 237, 1) 100%);
	border-top: 1px solid white;
	border-bottom: 1px solid #bfceda;
	border-left: 1px solid white;
	border-right: 1px solid #bfceda;
	padding: 0.5em;
}

body .breadcrumb ul {
	display: flex;
	align-items: center;
}

body .breadcrumb ul li {
	display: flex;
	padding: 0.2em;
	font-size: 0.8em;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 1px 1px white;
	color: #848b9d;
}

body .breadcrumb ul li a {
	color: #5aa3de;
	font-weight: 800;
}

body .breadcrumb ul li a.ui-icon {
	margin-top: 0px;
}

body .breadcrumb ul li.ui-breadcrumb-chevron {
	color: #b6bdcf;
}

.candidate-metadata {
	justify-content: center;
	background: #f8f9fb;
	border-right: 1px solid #bfceda;
	height: 100%;
	padding: 2em;
}

.candidate-metadata .candidate-rating {
	padding: 1em;
	text-align: center;
}

.form-action-primary {
	padding-top: 1em;
	display: flex;
	justify-content: flex-end;
}

/************************************
 *  input
 ************************************/
body .input {
	flex: 1 1 auto;
	color: #777777;
	height: 34px;
	display: flex;
	align-items: center;
	border: 1px solid #c2cad8;
	padding: 0.5em;
}

input[type="text"]:disabled {
	background: #efefef;
}

.input.input-checkbox {
	flex: 0 0 16px;
	height: 16px;
	padding: 0;
}

.input.input-number {
	padding-right: 25px;
}

.input.input-number, .input.input-money, .input.input-select {
	text-align: right;
}

.input.input-tag {
	height: auto;
	min-height: 34px;
}

.input.input-user, .input.input-tag {
	padding: 0;
}

.input.input-select {
	padding: 0;
	overflow: hidden;
}

.input.input-user input[type="text"] {
	padding: 0.5em;
	overflow: hidden;
}

.input-container>*:first-child {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

body .input-container>*:last-child {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.input .btn-inner {
	margin: -2.25em;
	background-color: transparent;
	border: 0px;
}

.input .btn-inner .ui-icon {
	color: #7a869b;
}

.input-avatar {
	position: relative;
	text-align: center;
}

.input-avatar .image, .avatar .image {
	width: 128px;
	height: 128px;
	border-radius: 3px;
	border: 5px solid white;
	box-shadow: 0px 0px 3px rgba(1, 1, 1, 0.5);
	object-fit: cover;
	image-orientation: from-image;
}

.input-avatar .image {
	cursor: pointer;
}

.input-avatar .camera-button {
	position: absolute;
	right: 0;
	bottom: 0;
}

.input-calendar .input {
	width: 120px;
	display: flex;
	flex-direction: row;
}

.input-calendar .input i {
	margin-left: -1.5em;
}

.input-number .input {
	width: 120px;
}

.input-search {
	width: 350px;
}

body .input-search .ui-inputtext {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

body .input-search .search-button {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

body .input-search .clean-search-button {
	border-top: 1px solid #c2cad8;
	border-left: 1px solid white;
	border-right: 1px solid #c2cad8;
	border-bottom: 1px solid #c2cad8;
}

.input-group {
	display: flex;
	padding: 0.5em;
	align-items: center;
	max-width: 600px;
	flex-flow: row wrap;
}

.input-group.input-search-group {
	flex: 3 3 auto;
}

.input-group.input-group-text-area {
	max-width: none;
}

.input-group .input-group-addon {
	padding: 0 0.4em;
}

.input-group  .input-container {
	display: flex;
	align-items: center;
	flex: 1;
}

.input-group .label-container {
	display: flex;
	width: 150px;
}

.input-group .labelIcon {
	flex: 0 1 auto;
}

body .input-group button.icon, .input-group .icon, body .input-group .ui-button {
	width: 34px;
	height: 34px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.calendar {
	cursor: pointer;
}

.input-group-calendar .icon, .input-group-money .icon {
	border-right: 1px solid #c2cad8;
	border-top: 1px solid #c2cad8;
	border-bottom: 1px solid #c2cad8;
	background: #f6f6f6;
}

.input-group .message-container {
	flex: 1 100%;
	margin-left: 150px;
}

.dialog.login {
	border-top: 6px solid #8000ff;
}

.dialog.blue {
	border-top: 6px solid #1976d2;
}

.dialog {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	width: 100%;
	border-radius: 6px;
	background: #ffffff;
	border: 1px solid #c2c2d3;
	overflow: auto;
}

.dialog>div:nth-last-child(1) {
	border-bottom: 0px;
}

.dialog-header {
	background: linear-gradient(to right, rgba(242, 243, 247, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(236, 238, 243, 1) 100%);
	border-bottom: 1px solid #bfceda;
	padding: 0.3em 1.2em;
	display: flex;
	justify-content: space-between;
	min-height: 2.5em;
	align-items: center;
}

.dialog-content {
	padding: 2em;
	border-bottom: 1px solid #bfceda;
}

.dialog-footer {
	display: flex;
	background: #eef1f8;
	border-top: 1px solid white;
	padding: 0.7em;
	margin: 0;
	justify-content: flex-end;
}

.panel {
	display: flex;
	flex-flow: row wrap;
	background: #ffffff;
	border-top: 1px solid white;
	border-bottom: 1px solid #bfceda;
	border-left: 1px solid white;
	border-right: 1px solid #bfceda;
	align-items: stretch;
}

.panel>* {
	flex: 1 100%;
}

.panel-header {
	background: linear-gradient(to right, rgba(242, 243, 247, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(236, 238, 243, 1) 100%);
	border-bottom: 1px solid #bfceda;
	padding: 0px;
	margin: 0;
	min-height: 52px;
	display: flex;
}

.panel-header a {
	color: #7a869b;
}

.panel-header-title {
	display: flex;
	flex: 1 100%;
	font-weight: bold;
	color: #737c93;
	text-shadow: 1px 1px white;
	margin: 10px;
	font-size: 1.3em;
	padding: 0px;
	align-items: center;
}

.panel-buttons {
	align-items: flex-start;
	display: flex;
	flex: 1 1 auto;
	justify-content: flex-end;
	padding: 10px;
}

.panel-aside {
	flex: 0;
	border-bottom: 1px solid #bfceda;
}

.panel>div:nth-last-child(1) {
	border-bottom: 0px;
}

.panel-content {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #bfceda;
	flex: 5 0;
	display: flex;
	flex-flow: column nowrap;
}

.panel-content-data {
	padding: 20px;
	display: flex;
}

.panel-footer {
	order: 3;
	background: #eef1f8;
	border-top: 1px solid white;
	padding: 0;
	margin: 0;
	justify-content: flex-end;
}

.tags {
	display: flex;
	flex: 1;
}

.curriculum .panel-header, .candidate .panel-header, .user .panel-header {
	background: #e0e3ed;
}

.curriculum .panel-content-data {
	flex-direction: column;
}

.panel-header-data {
	display: flex;
	flex-direction: column;
	padding: 20px;
	flex: 1 1 auto;
}

.panel-header-data .data .icon {
	width: 2em;
}

.panel-header-data .data .text {
	line-height: 1.2em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.panel-header-image {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.panel-header-content {
	display: flex;
}

.candidate.panel .candidate-data, .user.panel .user-data {
	display: flex;
	flex-direction: column;
}

.curriculum .panel-header-data .name, .candidate .panel-header-data .name, .user .panel-header-data .name {
	font-size: 1.5em;
	text-shadow: 1px 1px white;
	padding-bottom: 0.4em;
}

.curriculum .panel-header-data .job-profile, .candidate .panel-header-data .job-profile {
	font-size: 1em;
	padding-bottom: 0.6em;
}

.curricukum .panel-header-data .section, .candidate .panel-header-data .section, .user .panel-header-data .section {
	font-size: 1.2em;
	padding-bottom: 0.4em;
}

.curriculum .personal-data, .candidate .personal-data, .user .personal-data {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 0.9em 0;
}

.candidate-data, .user-data {
	align-items: baseline;
	line-height: 1.5em;
	display: flex;
}

.panel-header-data .data {
	padding: 0.2em 0 0 0.2em;
	display: flex;
	font-size: 0.9em;
	justify-content: flex-start;
}

.panel-header-data .icon {
	
}

.panel-content-data .data {
	display: flex;
	flex-direction: column;
	padding: 0.2em 0 0.8em 0;
}

.panel-content-data .data>* {
	flex: 1 100%;
}

.panel-content-data .data .label {
	padding: 0em 0 0.3em 0;
	font-size: 0.8em;
}

.panel-content-data .data .text {
	font-size: 1.1em;
}

.candidate-card {
	display: flex;
	flex-direction: row;
	padding: 5px;
}

.candidate-card .image {
	image-orientation: from-image;
	border-radius: 5px;
	object-fit: cover;
	width: 48px;
	height: 48px;
	box-shadow: none;
	border: 0px;
}

.candidate-card .info {
	display: flex;
	padding-left: 5px;
	flex-direction: column;
}

.candidate-card .info .name {
	color: black;
	line-height: 1.5em;
}

.candidate-card .info .position {
	color: #737c93;
	font-size: 0.9em;
}

.candidate-data .text a, .user-data .text a {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}

.candidate-data .label, .user-data .label {
	font-weight: 600;
	padding-right: 0.2em;
}

.curriculum .section {
	border-bottom: 1px solid gray;
}

.curriculum .section:last-child {
	border-bottom: 0px;
}

.full-page {
	display: flex;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center;
}

.login-page {
	background-image: url("#{request.contextPath}/resources/img/loginbg.jpg");
}

.login-page .content {
	padding-top: 20vh;
	margin: 0 auto;
}

.login.dialog {
	width: 400px;
}

.invisible {
	display: none !important;
}

.user-minicard {
	width: 100%;
	margin: 5px;
	overflow: auto;
}

.user-minicard-image {
	float: left;
	padding-right: 5px;
}

.user-minicard-image .image {
	image-orientation: from-image;
	border-radius: 5px;
	object-fit: cover;
	width: 48px;
	height: 48px;
}

.user-minicard-info {
	padding: 0px 10px;
}

.user-minicard-info .name {
	color: #999999;
	font-weight: 600;
}

.user-minicard-info .position {
	font-weight: 400;
	color: #999999;
}

.locales {
	text-transform: capitalize;
}

.section {
	display: flex;
	flex-direction: column;
	padding: 20px 0;
}

.section:first-child {
	padding-top: 0;
}

.section:last-child {
	padding-bottom: 0;
}

.section-header {
	display: flex;
	height: 4em;
}

.section-title {
	color: #737c93;
	margin: 0;
	font-size: 1.3em;
	padding: 10px 0em;
}

.section.education .degree {
	color: #000000;
	line-height: 2em;
	margin: 0;
	font-size: 1.3em;
}

.section.education .school, .section.jobExperience .date-range {
	color: #737c93;
	margin: 0;
	font-size: 1.2em;
}

.section.education .educationDescription {
	display: flex;
	margin-top: 1em;
	line-height: 1.2em;
}

.section.jobExperience .job_position {
	color: #000000;
	line-height: 2em;
	margin: 0;
	font-size: 1.3em;
}

.section.jobExperience .company, .section.jobExperience .date-range {
	color: #737c93;
	margin: 0;
	font-size: 1.2em;
}

.section.jobExperience .jobDescription {
	display: flex;
	margin-top: 1em;
	line-height: 1.2em;
}

.section.language .language_name {
	font-size: 1.1em;
	display: inline-flex;
	line-height: 1.8em;
	min-width: 100px;
	color: #000000;
}

.section.language .language_level {
	font-size: 1.1em;
	line-height: 1.8em;
	min-width: 100px;
	display: inline-flex;
}

.section.actions {
	padding: 10px;
}

.job_address {
	color: #959bac;
}

.tag {
	min-width: 80px;
	border-radius: 3px;
	color: white;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
	height: 25px;
	font-size: 0.9em;
	margin: 5px;
}

.tag.green {
	background-color: green;
}

.tag.red {
	background-color: red;
}

.tag.brown {
	background-color: brown;
}

.tag.blue {
	background-color: blue;
}

.tag.blueviolet {
	background-color: blueviolet;
}

.tag.cornflowerblue {
	background-color: cornflowerblue;
}

.tag-list {
	display: flex;
	flex-direction: column;
}

.wrapper {
	display: flex;
	flex: 1 100%;
	flex-flow: column wrap;
}