.ui-datatable {
	.avatar {
		width: 30px;
		height: 30px;
		object-fit: cover;
		vertical-align: middle;
	}
}

.layout-main-topbar {
	position: relative;
	
	.buttons {
		position: absolute;
		top: 6px;
		right: 6px;
		
		.ui-button {
			margin-left:6px;
		}
	}
}

.card.client-card {
	padding: 0;
	.card-header{
		height: 80px;
		overflow: hidden;
		background: linear-gradient(30deg, $secondaryColor 0%, $secondaryLightColor 150%);
		background-color: $secondaryColor;
		color: $secondaryTextColor;
	}
	.client-card-content {
		.label-container {
			font-size: 0.8em;
			padding-bottom: 0.3em;
			.label {
				color: $darkMenuBgColor;
			}	
		}
		.text {
			color: $menuitemTextColor;
		}
		.client-card-name {
			font-size: 2em;
			color: #ffffff;
			position: relative;
			top: -65px;
			margin-left: 1.5em;
			font-weight: 700;
			white-space: nowrap;
		}
		.client-detail {
			padding: 0 2.5em 2em 2.5em;
		}
	}
}

.card.job-card {
	padding: 0;
	.card-header{
		height: 80px;
		overflow: hidden;
		background: linear-gradient(30deg, $secondaryColor 0%, $secondaryLightColor 150%);
		background-color: $secondaryColor;
		color: $secondaryTextColor;
	}
	.job-card-content {
		.job-detail{
		    padding: 0 2.5em 2em 2.5em;
		}
		.label-container {
			font-size: 0.8em;
			padding-bottom: 0.3em;
			.label {
				color: $darkMenuBgColor;
			}	
		}
		.text {
			color: $menuitemTextColor;
		}
		.job-card-name {
			font-size: 2em;
			color: #ffffff;
			position: relative;
			top: -60px;
			margin-left: 1.5rem;
			font-weight: 700;
			white-space: nowrap;
		}
		.job-card-client {
			font-size: 1em;
			color: #ffffff;
			position: relative;
			top: -60px;
			margin-left: 1.5rem;
			font-weight: 400;
			white-space: nowrap;
		}
	}
}


.layout-wrapper {
    .layout-topbar {
        .layout-topbar-logo {
            img {
                height: 24px;
            }
        }

		.topbar-menu {
            > li {
                > a {
                    > img {
                        width: 30px;
						height: 30px;
						object-fit: cover;
                        margin-top: 8px;
						border-radius: 50%;
                    }
                }
			}
		}
	}
}

.person {
    text-align: left;
    display: flex;
    margin: 6px 0 0 8px;
    vertical-align: top;
	padding: 3px 6px;

	&:hover {
		background-color: #f6f6f6;
	}

    .person-name {
		font-size: 12px;
		display: block;
		font-weight: 500;
		color: $menuitemTextColor;
    }

    .person-description {
        font-size: 12px;
        display: block;
		color: $menuitemTextColor;
    }

	.avatar {
        width: 30px;
        margin: 4px 8px 4px 0;
		border-radius: 50%;
    }
}