/* Add your customizations of theme here */
body .ui-datatable table {
	table-layout: auto;
	
	tbody{
		tr{
			a{
				display:inline;
				vertical-align: middle; 
				margin-left: .5rem;
			}
		}
	}
}