/* Utils */
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.card {
    border-radius: $borderRadius;
    background: #ffffff;
    padding: 1rem;
    box-sizing: border-box;
    @include shadow(0 2px 8px 0 rgba(0, 0, 0, 0.08));
    @include border-radius($borderRadius);
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
    
    .card-header {
      @include flex();
      @include flex-align-center();
      @include flex-justify-between();
    }

    .card-subtitle {
      color: $textSecondaryColor;
      font-weight: 600;
      margin: -1rem 0 1rem 0;
    } 
}

.nopad {
    padding: 0;
    
    .ui-panel-content {
        padding: 0;
    }
}

.ui-g {
    -ms-flex-wrap: wrap;
}
